<div class="container">
  <header>
    <h1>Wäscheabgabe</h1>
    <input type="text" placeholder="Suchen" class="search" />
  </header>


  <div class="item-list">
    <div class="item" *ngFor=" let article of allArticle; let i = index">
      <img src="" [alt]="article.description" />
      <div class="info">
        <h2>{{ article.title }}</h2>
        <p>{{ article.sap }}</p>
      </div>
      <div class="controls">
        <button>-</button>
        <input 
          type="number"  
          [(ngModel)]="article.amount"
          name="quantity{{i}}"
          min="0" max="30"
        />
        <button>+</button>
        <label>
          <input 
            type="checkbox" 
            [(ngModel)]="article.selected"
            name="selected{{i}}"
            [disabled]="article.amount === 0"
          /> 
          
          zur Abgabe hinzufügen</label>
      </div>
    </div>
  </div>  



  <footer>
    <button class="print">Druckversion erstellen</button>
  </footer>
</div>